<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level %logger{36}.%M - %msg%n%rEx</pattern>
		</encoder>
	</appender>

	<logger name="com.excilys">
		<level value="DEBUG" />
	</logger>

	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="DEBUG" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="DEBUG" />
	</logger>

	<logger name="org.hibernate.type.descriptor.sql.BasicBinder">
		<level value="TRACE" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
